<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="ConnectStringSource" value="Server=Localhost;Database=Database1;Trusted_Connection=Yes"/>
    <add key="ConnectStringTarget" value="Server=Localhost;Database=Database2;Trusted_Connection=Yes"/>
    <add key="CompareSourceToTarget" value="true"/>
    <add key="CompareTargetToSource" value="false"/>
  </appSettings>
</configuration>