<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="HelpFileName" value="[AppPath]\Help\PDSCXmlBuilder.pdf" />
    <add key="LogFile" value="[MyDocuments]\PDSCDeveloperUtilities\Log\XmlBuilderLog.txt" />
    <add key="LogMessages" value="True" />
    <add key="LogErrors" value="True" />
    <add key="DataProviderName" value="SqlClient" />
    <add key="ConnectString" value="Data Source=Localhost;Initial Catalog=Sandbox;Integrated Security=Yes" />
    <add key="XMLOutputFolder" value="D:\Samples" />
    <add key="XSDOutputFolder" value="D:\Samples" />
    <add key="PromptOverwrite" value="False" />
    <add key="AttributeBased" value="True" />
  </appSettings>
</configuration>