<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="HelpFileName" value="[AppPath]\Help\PDSCCSharpEntityGen.pdf" />
    <add key="LogFile" value="[MyDocuments]\PDSCDeveloperUtilities\Log\CSharpEntityGenLog.txt" />
		<add key="AnnotationsFileName" value="[MyDocuments]\PDSCDeveloperUtilities\Xml\DataAnnotations.xml" />
		<add key="LogMessages" value="True" />
    <add key="LogErrors" value="True" />
    <add key="DataProviderName" value="SqlClient" />
		<add key="Namespace" value="DefaultNamespace" />
		<add key="ConnectString" value="Data Source=Localhost;Initial Catalog=Sandbox;Integrated Security=Yes" />
    <add key="CSharpEntityGenOutputFolder" value="D:\Samples" />
		<add key="CSharpEntityTemplate" value="[MyDocuments]\PDSCDeveloperUtilities\Resources\CS_EntityClass.txt" />
		<add key="PromptOverwrite" value="False" />
  </appSettings>
</configuration>