<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
		<add key="HelpFile" value="[AppPath]\Documentation\Ch02-PDSC-DeveloperUtilities.pdf" />
		<add key="LogFile" value="[MyDocuments]\PDSCDeveloperUtilities\Log\ProjectCleanerLog.txt" />

		<add key="SourceControlTagsXMLFile" value="[MyDocuments]\PDSCDeveloperUtilities\Xml\SourceControlTags.xml" />
    <add key="LogMessages" value="True" />
    <add key="LogErrors" value="True" />
    <add key="FilesToDel" value="*.user, *.webinfo, *.db, *.pdb, *.suo, *.old, *.log, *.tmp, *.sav, *.sdf, *.opensdf, .ilk, UpgradeLog.htm" />
    <add key="SCCFilesToDel" value="*.vssscc, *.scc, *.vspscc" />
    <add key="ProjectFilesWithSCC" value="*.vbproj,*.csproj,*.dbp,*.rptproj" />
    <add key="FoldersToDel" value="bin, obj, Backup, _UpgradeReport_Files, TestResults, .svn, .vs, packages" />
    <add key="RemoveSCCFiles" value="True" />
    <add key="RemovePackages" value="True" />
    <add key="RemoveTestResults" value="True" />
    <add key="VerboseMessages" value="True" />
    <add key="TopLevelFolder" value="D:\Samples" />
  </appSettings>
</configuration>