<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
		<add key="HelpFile" value="[AppPath]\Documentation\Ch02-PDSC-DeveloperUtilities.pdf" />
		<add key="LogFile" value="[MyDocuments]\PDSCDeveloperUtilities\Log\SqlCompareLog.txt" />

		<add key="ConnectStringSource" value="Server=Localhost;Database=AdventureWorksLT;Trusted_Connection=Yes"/>
    <add key="ConnectStringTarget" value="Server=Localhost;Database=AdventureWorksLT;Trusted_Connection=Yes"/>
    <add key="CompareSourceToTarget" value="true"/>
    <add key="CompareTargetToSource" value="false"/>
  </appSettings>
</configuration>