<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
		<add key="LogFile" value="[MyDocuments]\PDSCDeveloperUtilities\Log\XmlGeneratorLog.txt" />

		<add key="OutputFolder" value="[MyDocuments]\PDSCDeveloperUtilities\GeneratedXml" />
		
		<add key="SQLTemplate" value="{|SQL|}" />
		<add key="FileNameExtension" value=".xml" />		
		<add key="XsdOutputFolder" value="D:\Samples" />
		<add key="XsdFileExtension" value=".xsd" />
		<add key="GenerateXsd" value="True" />
		<add key="AttributeBased" value="False" />
	</appSettings>
</configuration>