<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<add key="HelpFile" value="[AppPath]\Documentation\Ch02-PDSC-DeveloperUtilities.pdf" />
		<add key="LogFile" value="[MyDocuments]\PDSCDeveloperUtilities\Log\PropertyGeneratorLog.txt" />

		<add key="DataTypesFileName" value="[MyDocuments]\PDSCDeveloperUtilities\Xml\LanguageDataTypes.xml" />
		<add key="LanguagesFileName" value="[MyDocuments]\PDSCDeveloperUtilities\Xml\PropertyGen-DotNetLanguages.xml" />
		<add key="ScopeFileName" value="[MyDocuments]\PDSCDeveloperUtilities\Xml\PropertyGen-LanguageScopes.xml" />
		<add key="TemplatesFileName" value="[MyDocuments]\PDSCDeveloperUtilities\Xml\PropertyGen-Templates.xml" />
		<add key="PropertyTemplatesFolder" value="[MyDocuments]\PDSCDeveloperUtilities\Templates\PropertyGenerator" />

		<add key="DefaultLanguage" value="C#" />
		<add key="DefaultTemplate" value="C# Auto Properties" />
		<add key="DefaultPrefix" value="_" />
		<add key="DefaultDataType" value="string" />
		<add key="DefaultScope" value="public" />
		<add key="IsNullable" value="False" />
		<add key="IncludeInitializer" value="False" />
	</appSettings>
</configuration>