<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<add key="HelpFile" value="[AppPath]\Documentation\Ch02-PDSC-DeveloperUtilities.pdf" />
		<add key="LogFile" value="[MyDocuments]\PDSCDeveloperUtilities\Log\ProjectCleanerLog.txt" />

		<add key="TopLevelFolder" value="D:\Samples" />
		<add key="FilesToDelete" value="*.user, *.webinfo, *.db, *.pdb, *.suo, *.old, *.log, *.tmp, *.sav, *.sdf, *.opensdf, .ilk, UpgradeLog.htm" />
		<add key="FoldersToDelete" value="bin, obj, Backup, _UpgradeReport_Files, .svn, .vs" />

		<!-- Package Folder Settings -->
		<add key="RemovePackages" value="True" />
		<add key="PackagesFolderNames" value="packages" />

		<!-- Test Result Folder Settings -->
		<add key="RemoveTestResults" value="True" />
		<add key="TestFolderNames" value="TestResults" />

		<!-- Source Control Settings -->
		<add key="SourceControlTagsXMLFile" value="[MyDocuments]\PDSCDeveloperUtilities\Xml\SourceControlTags.xml" />
		<add key="RemoveSCCFiles" value="False" />
		<add key="SetFileToNormal" value="False" />
		<add key="SCCFilesToDelete" value="*.vssscc, *.scc, *.vspscc" />
		<add key="SCCFoldersToDelete" value=".git" />
		<add key="ProjectFilesWithSCC" value="*.vbproj,*.csproj,*.dbp,*.rptproj" />
	</appSettings>
</configuration>