<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
		<add key="HelpFile" value="[AppPath]\Documentation\Ch02-PDSC-DeveloperUtilities.pdf" />
		<add key="LogFile" value="[MyDocuments]\PDSCDeveloperUtilities\Log\ComputerCleanerLog.txt" />
		
    <add key="AdditionalFoldersToRecycle" value="[MyDocuments]\PDSCDeveloperUtilities\Xml\FoldersToRecycle.xml" />
		<add key="AdditionalFilesToRecycle" value="[MyDocuments]\PDSCDeveloperUtilities\Xml\FilesToRecycle.xml" />
  </appSettings>
</configuration>