<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
		<add key="HelpFile" value="[AppPath]\Documentation\PDSC-DeveloperUtilities.pdf" />
		<add key="LogFile" value="[MyDocuments]\PDSCDeveloperUtilities\Log\ApplicationCreatorLog.txt" />

		<add key="FrameworkLocation" value="..\PDSC-Framework"/>
    <add key="FrameworkProjectName" value="PDSCFramework"/>
    <add key="FrameworkProjectDescription" value="PDSC Framework"/>

    <add key="ApplicationLocation" value="D:\Samples\Sample.Project"/>
    <add key="ApplicationName" value="Sample.Project"/>
    <add key="ApplicationDescription" value="Sample Project"/>

    <add key="FrameworkFilesToRename" value="*.sln,*.csproj,*.sql"/>
    <add key="FrameworkFilesSearchReplace" value="*.sln,*.csproj,*.cshtml,*.cs,appSettings.json,launchSettings.json,*.sql"/>
    <add key="DontCopyFolders" value="bin,obj,.vs"/>
    <add key="DontCopyFileExt" value=".user"/>
    <add key="DontCopyFiles" value="SiteLog"/>
    <add key="DontTouchFolders" value="PDSC.Common"/>
  </appSettings>
</configuration>