<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
		<add key="HelpFile" value="[AppPath]\Documentation\Ch02-PDSC-DeveloperUtilities.pdf" />
		<add key="LogFile" value="[MyDocuments]\PDSCDeveloperUtilities\Log\ComputerCleanerLog.txt" />
		
    <add key="DotNetVersionsFile" value="[MyDocuments]\PDSCDeveloperUtilities\Xml\DotNetVersions.xml" />
    <add key="AdditionalFoldersToDelete" value="[MyDocuments]\PDSCDeveloperUtilities\Xml\FoldersToDelete.xml" />
    <add key="LogMessages" value="True" />
    <add key="LogErrors" value="True" />
    <add key="SendToRecycleBin" value="True" />
    <add key="DisplayMessages" value="True" />
    <add key="DeleteTemp" value="True" />
    <add key="DeleteTmp" value="True" />
    <add key="EmptyRecycleBin" value="False" />
    <add key="DeleteTempASPNet" value="True" />
    <add key="DeleteIISExpressFolder" value="True" />
    <add key="DeleteIISExpressLogs" value="False" />
    <add key="DeleteSQLServerBackupFiles" value="True" />
    <add key="DeleteVSWebCache" value="True" />
    <add key="DeleteVSNetBackup" value="True" />
    <add key="DeleteProjectAssemblies" value="True" />
    <add key="DeletePersonalAssemblies" value="True" />
    <add key="DeleteVSNetRecentProjectFileList" value="False" />
  </appSettings>
</configuration>