<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
		<add key="LogFile" value="[MyDocuments]\PDSCDeveloperUtilities\Log\CodeGeneratorLog.txt" />

		<add key="VersionTemplatesFileName" value="[MyDocuments]\PDSCDeveloperUtilities\Xml\CodeGen-VersionTemplates.xml" />
		<add key="FoldersToDeleteFileName" value="[MyDocuments]\PDSCDeveloperUtilities\Xml\CodeGen-FoldersToDelete.xml" />
		<add key="FoldersToCopyFileName" value="[MyDocuments]\PDSCDeveloperUtilities\Xml\CodeGen-FoldersToCopy.xml" />
		<add key="AnnotationsFileName" value="[MyDocuments]\PDSCDeveloperUtilities\Xml\CodeGen-DataAnnotations.xml" />
		<add key="LanguageDataTypesFileName" value="[MyDocuments]\PDSCDeveloperUtilities\Xml\LanguageDataTypes.xml" />
		<add key="TemplatesFolder" value="[MyDocuments]\PDSCDeveloperUtilities\Templates\" />
		<add key="TemplateGroup" value=".NET 6" />
		<add key="OutputFolder" value="[MyDocuments]\PDSCDeveloperUtilities\GeneratedCode\" />

		<add key="DeleteCodeGenFolderBeforeGenerating" value="True" />
		<add key="OpenWindowAfterGenerating" value="True" />
		<add key="IncludeDataAnnotations" value="True" />
		<add key="IncludePropertyComments" value="True" />
		<add key="UseFullProperties" value="False" />
		<add key="UsePropertyChanged" value="False" />
		<add key="MakePrimaryKeyNullable" value="True" />
		<add key="PrivateFieldPrefix" value="_" />
	</appSettings>
</configuration>