<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
		<add key="LogFile" value="[MyDocuments]\PDSCDeveloperUtilities\Log\RepositoryDataGeneratorLog.txt" />

		<add key="GenerationTemplateFile" value="[MyDocuments]\PDSCDeveloperUtilities\Templates\RepositoryGenerator\RepositoryDataClass.txt" />
		<add key="OutputFolder" value="[MyDocuments]\PDSCDeveloperUtilities\GeneratedDataRepository" />

		<add key="IncludeNullableDisable" value="True" />
		<add key="SQLTemplate" value="{|SQL|}" />
		<add key="FileNameExtension" value=".cs" />
	</appSettings>
</configuration>