<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
		<add key="HelpFile" value="[AppPath]\Documentation\Ch02-PDSC-DeveloperUtilities.pdf" />
		<add key="LogFile" value="[MyDocuments]\PDSCDeveloperUtilities\Log\XmlGeneratorLog.txt" />
		
		<add key="PromptOverwrite" value="True" />
		<add key="WriteToFile" value="True" />
		<add key="ConnectString" value="Data Source=Localhost;Initial Catalog=AdventureWorksLT;Integrated Security=Yes" />
		<add key="OutputFolder" value="D:\Samples" />
		<add key="SQLTemplate" value="{|SQL|}" />
		<add key="FileNameExtension" value=".xml" />
		
		<add key="XsdOutputFolder" value="D:\Samples" />
		<add key="XsdFileExtension" value=".xsd" />
		<add key="GenerateXsd" value="True" />
		<add key="AttributeBased" value="False" />
	</appSettings>
</configuration>