<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
		<add key="HelpFile" value="[AppPath]\Documentation\PDSC-DeveloperUtilities.pdf" />
		<add key="LogFile" value="[MyDocuments]\PDSCDeveloperUtilities\Log\JsonGeneratorLog.txt" />

		<add key="PromptOverwrite" value="True" />
		<add key="WriteToFile" value="False" />
		<add key="ConnectString" value="Data Source=Localhost;Initial Catalog=AdventureWorksLT;Integrated Security=Yes" />
		<add key="OutputFolder" value="[MyDocuments]\PDSCDeveloperUtilities\GeneratedJson" />
		<add key="SQLTemplate" value="{|SQL|}" />
		<add key="FileNameExtension" value=".json" />
  </appSettings>
</configuration>