<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
		<add key="HelpFile" value="[AppPath]\Documentation\Ch02-PDSC-DeveloperUtilities.pdf" />
		<add key="LogFile" value="[MyDocuments]\PDSCDeveloperUtilities\Log\CodeGeneratorLog.txt" />

		<add key="VersionTemplatesFileName" value="[MyDocuments]\PDSCDeveloperUtilities\Xml\CodeGenVersionTemplates.xml" />
		<add key="AnnotationsFileName" value="[MyDocuments]\PDSCDeveloperUtilities\Xml\DataAnnotations.xml" />
		<add key="LanguageDataTypesFileName" value="[MyDocuments]\PDSCDeveloperUtilities\Xml\LanguageDataTypes.xml" />
		<add key="TemplatesFolder" value="[MyDocuments]\PDSCDeveloperUtilities\Templates\" />
		<add key="TemplateName" value=".NET 6 (Data Classes)" />

		<add key="PromptOverwrite" value="False" /> 
		<add key="ConnectString" value="Data Source=Localhost;Initial Catalog=AdventureWorksLT;Integrated Security=Yes" />
		<add key="OutputFolder" value="[MyDocuments]\PDSCDeveloperUtilities\GeneratedCode" />
		<add key="Namespace" value="DefaultNamespace" />
		<add key="DeleteCodeGenFolderBeforeGenerating" value="True" />
		<add key="OpenWindowAfterGenerating" value="True" />
		<add key="IncludeDataAnnotations" value="True" />
		<add key="IncludePropertyComments" value="True" />
		<add key="UseFullProperties" value="False" />
		<add key="UsePropertyChanged" value="False" />
		<add key="MakePrimaryKeyNullable" value="True" />
		<add key="PrivateFieldPrefix" value="_" />
	</appSettings>
</configuration>