<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
		<add key="HelpFile" value="[AppPath]\Documentation\Ch02-PDSC-DeveloperUtilities.pdf" />
		<add key="LogFile" value="[MyDocuments]\PDSCDeveloperUtilities\Log\EntityGeneratorLog.txt" />
		<add key="GenerationTemplateFile" value="[MyDocuments]\PDSCDeveloperUtilities\Resources\CS_EntityClass.txt" />
		<add key="PromptOverwrite" value="True" />
		<add key="ConnectString" value="Data Source=Localhost;Initial Catalog=Sandbox;Integrated Security=Yes" />
		<add key="OutputFolder" value="D:\Samples" />
		<add key="Namespace" value="DefaultNamespace" />
		<add key="IncludeNullableDisable" value="True" />
		<add key="SQLTemplate" value="{|SQL|}{|CRLF|}WHERE 1 = 0" />
		
		<add key="IncludeDataAnnotations" value="True" />
		<add key="AnnotationsFileName" value="[MyDocuments]\PDSCDeveloperUtilities\Xml\DataAnnotations.xml" />
	</appSettings>
</configuration>