<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
		<add key="LogFile" value="[MyDocuments]\PDSCDeveloperUtilities\Log\JsonGeneratorLog.txt" />

		<add key="OutputFolder" value="[MyDocuments]\PDSCDeveloperUtilities\GeneratedJson" />
		
		<add key="SQLTemplate" value="{|SQL|}" />
		<add key="FileNameExtension" value=".json" />
	</appSettings>
</configuration>