<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
		<add key="HelpFile" value="[AppPath]\Documentation\Ch02-PDSC-DeveloperUtilities.pdf" />
		<add key="LogFile" value="[MyDocuments]\PDSCDeveloperUtilities\Log\PropertyBuilderLog.txt" />
    
		<add key="LanguagesFileName" value="[MyDocuments]\PDSCDeveloperUtilities\Xml\DotNetLanguages.xml" />
    <add key="DataTypesFileNameVB" value="[MyDocuments]\PDSCDeveloperUtilities\Xml\DataTypesVB.xml" />
    <add key="TemplatesFileName" value="[MyDocuments]\PDSCDeveloperUtilities\Xml\PropertyTemplates.xml" />
    <add key="DataTypesFileNameCS" value="[MyDocuments]\PDSCDeveloperUtilities\Xml\DataTypesCS.xml" />
    <add key="ScopeFileNameVB" value="[MyDocuments]\PDSCDeveloperUtilities\Xml\ScopeVB.xml" />
    <add key="ScopeFileNameCS" value="[MyDocuments]\PDSCDeveloperUtilities\Xml\ScopeCS.xml" />
    <add key="PropertyTemplatesFolder" value="[MyDocuments]\PDSCDeveloperUtilities\Resources\" />
    <add key="LogMessages" value="True" />
    <add key="LogErrors" value="True" />
    <add key="DefaultLanguage" value="C#" />
    <add key="DefaultTemplate" value="C# Normal Get/Set" />
    <add key="DefaultPrefixVB" value="m" />
    <add key="DefaultPrefixCS" value="_" />
    <add key="DefaultDataTypeVB" value="String" />
    <add key="DefaultDataTypeCS" value="string" />
    <add key="DefaultScopeVB" value="Public" />
    <add key="DefaultScopeCS" value="public" />
    <add key="IncludeInitializer" value="False" />
  </appSettings>
</configuration>