@model PDSCFramework.ViewModelLayer.PersonViewModel

<form method="post" asp-action="PersonIndex">  
  <input type="hidden" asp-for="SelectedEntity.PersonId" />

  <partial name="_ValidationPartial" />

  <div class="form-group">
    <label asp-for="SelectedEntity.AspNetUsersId" class="control-label"></label>
    <input asp-for="SelectedEntity.AspNetUsersId" class="form-control" />
    <span asp-validation-for="SelectedEntity.AspNetUsersId" class="text-danger" />
  </div>
  <div class="form-group">
    <label asp-for="SelectedEntity.FirstName" class="control-label"></label>
    <input asp-for="SelectedEntity.FirstName" class="form-control" />
    <span asp-validation-for="SelectedEntity.FirstName" class="text-danger" />
  </div>
  <div class="form-group">
    <label asp-for="SelectedEntity.LastName" class="control-label"></label>
    <input asp-for="SelectedEntity.LastName" class="form-control" />
    <span asp-validation-for="SelectedEntity.LastName" class="text-danger" />
  </div>
  <div class="form-group">
    <label asp-for="SelectedEntity.EmailAddress" class="control-label"></label>
    <input asp-for="SelectedEntity.EmailAddress" class="form-control" />
    <span asp-validation-for="SelectedEntity.EmailAddress" class="text-danger" />
  </div>
  <div class="form-group">
    <label asp-for="SelectedEntity.HomePhone" class="control-label"></label>
    <input asp-for="SelectedEntity.HomePhone" class="form-control" />
    <span asp-validation-for="SelectedEntity.HomePhone" class="text-danger" />
  </div>
  <div class="form-group">
    <label asp-for="SelectedEntity.CellPhone" class="control-label"></label>
    <input asp-for="SelectedEntity.CellPhone" class="form-control" />
    <span asp-validation-for="SelectedEntity.CellPhone" class="text-danger" />
  </div>
  <div class="form-group">
    <label asp-for="SelectedEntity.Street1" class="control-label"></label>
    <input asp-for="SelectedEntity.Street1" class="form-control" />
    <span asp-validation-for="SelectedEntity.Street1" class="text-danger" />
  </div>
  <div class="form-group">
    <label asp-for="SelectedEntity.Street2" class="control-label"></label>
    <input asp-for="SelectedEntity.Street2" class="form-control" />
    <span asp-validation-for="SelectedEntity.Street2" class="text-danger" />
  </div>
  <div class="form-group">
    <label asp-for="SelectedEntity.Street3" class="control-label"></label>
    <input asp-for="SelectedEntity.Street3" class="form-control" />
    <span asp-validation-for="SelectedEntity.Street3" class="text-danger" />
  </div>
  <div class="form-group">
    <label asp-for="SelectedEntity.City" class="control-label"></label>
    <input asp-for="SelectedEntity.City" class="form-control" />
    <span asp-validation-for="SelectedEntity.City" class="text-danger" />
  </div>
  <div class="form-group">
    <label asp-for="SelectedEntity.Village" class="control-label"></label>
    <input asp-for="SelectedEntity.Village" class="form-control" />
    <span asp-validation-for="SelectedEntity.Village" class="text-danger" />
  </div>
  <div class="form-group">
    <label asp-for="SelectedEntity.StateCode" class="control-label"></label>
    <input asp-for="SelectedEntity.StateCode" class="form-control" />
    <span asp-validation-for="SelectedEntity.StateCode" class="text-danger" />
  </div>
  <div class="form-group">
    <label asp-for="SelectedEntity.ProvinceCode" class="control-label"></label>
    <input asp-for="SelectedEntity.ProvinceCode" class="form-control" />
    <span asp-validation-for="SelectedEntity.ProvinceCode" class="text-danger" />
  </div>
  <div class="form-group">
    <label asp-for="SelectedEntity.PostalCode" class="control-label"></label>
    <input asp-for="SelectedEntity.PostalCode" class="form-control" />
    <span asp-validation-for="SelectedEntity.PostalCode" class="text-danger" />
  </div>
  <div class="form-group">
    <label asp-for="SelectedEntity.CountryCode" class="control-label"></label>
    <input asp-for="SelectedEntity.CountryCode" class="form-control" />
    <span asp-validation-for="SelectedEntity.CountryCode" class="text-danger" />
  </div>
  <div class="form-group">
    <label asp-for="SelectedEntity.SiteTermsId" class="control-label"></label>
    <input asp-for="SelectedEntity.SiteTermsId" class="form-control" />
    <span asp-validation-for="SelectedEntity.SiteTermsId" class="text-danger" />
  </div>
  <div class="form-group">
    <label asp-for="SelectedEntity.DateTermsAccepted" class="control-label"></label>
    <input asp-for="SelectedEntity.DateTermsAccepted" class="form-control" />
    <span asp-validation-for="SelectedEntity.DateTermsAccepted" class="text-danger" />
  </div>
  <div class="form-group">
    <label asp-for="SelectedEntity.IsActive" class="control-label"></label>
    <input asp-for="SelectedEntity.IsActive" class="form-control" />
    <span asp-validation-for="SelectedEntity.IsActive" class="text-danger" />
  </div>
  <div class="form-group">
    <label asp-for="SelectedEntity.OkToSendEmails" class="control-label"></label>
    <input asp-for="SelectedEntity.OkToSendEmails" class="form-control" />
    <span asp-validation-for="SelectedEntity.OkToSendEmails" class="text-danger" />
  </div>
  <div class="form-group">
    <label asp-for="SelectedEntity.PersonTypeId" class="control-label"></label>
    <input asp-for="SelectedEntity.PersonTypeId" class="form-control" />
    <span asp-validation-for="SelectedEntity.PersonTypeId" class="text-danger" />
  </div>

  <div class="form-group">
    <button class="btn btn-primary">Save</button>
    <a class="btn btn-secondary" formnovalidate="formnovalidate" asp-action="PersonIndex">
      Cancel
    </a>
  </div>
</form>
