@{
  ViewData["Title"] = "Person Maintenance";
}

<h2>Person Maintenance</h2>

@if (Model.IsDetailVisible) {
  <partial name="_PersonDetail" />
}
else {
  <partial name="_PersonSearch" />
  <partial name="_PersonList" />
}

@section Scripts
{
  <script>
    $(document).ready(function () {
      // Setup the form submit
      pdscController.formSubmit();
    });
  </script>
  <partial name="_ValidationScriptsPartial" />
}
