@{
  ViewData["Title"] = "Country Maintenance";
}

<h2>Country Maintenance</h2>

@if (Model.IsDetailVisible) {
  <partial name="_CountryDetail" />
}
else {
  <partial name="_CountrySearch" />
  <partial name="_CountryList" />
}

@section Scripts
{
  <script>
    $(document).ready(function () {
      // Setup the form submit
      pdscController.formSubmit();
    });
  </script>
  <partial name="_ValidationScriptsPartial" />
}
