@{
  ViewBag.Title = "Thank you for Contacting Us";
  ViewBag.MetaDescription = Model.AppSettings.ApplicationName + ": Thank you for Contacting Us";
  ViewBag.MetaKeywords = Model.AppSettings.ApplicationName + ": Thank you for Contacting Us";
}

<div class="row">
  <div class="col">
    <h2>Thank you for Contacting Us</h2>
  </div>
</div>

<div class="row">
  <div class="col">
    <p>Thank you for reaching out to us, we will respond with 1-2 business days to your inquiry.</p>
  </div>
</div>

<div class="row">
  <div class="col">
    <a class="btn btn-primary" asp-area="" asp-controller="Home" asp-action="Index">Click here for the Home Page</a>
  </div>
</div>