@model PDSC.Common.ViewModelLayer.FAQViewModel

@{
  ViewBag.Title = "Frequently Asked Questions";
  ViewBag.MetaDescription = Model.AppSettings.ApplicationName + " Frequenty Asked Questions";
  ViewBag.MetaKeywords = Model.AppSettings.ApplicationName + " Frequenty Asked Questions";
}

<div class="jumbotron jumbotron-small jumbotron-fluid">
  <div class="row">
    <div class="col-sm-9">
      <h1>@Model.AppSettings.ApplicationName Frequenty Asked Questions</h1>
      <p class="lead">The following are some of the most popular questions we are asked about @Model.AppSettings.ApplicationName.</p>
    </div>
    <div class="col-sm-3 d-none d-sm-block">
      <img class="img-fluid rounded float-right" src="~/Images/SiteLogo.png" asp-append-version="true" />
    </div>
  </div>
</div>

<div id="faqArea">
  @foreach (var item in Model.DataCollection) {
    <div class="card">
      <div class="card-header" id="faq@{@item.FAQId} ">
        <h5 class="mb-0">
          <button class="btn btn-link text-left" data-toggle="collapse" data-target="#collapse@{@item.FAQId}"
                  aria-expanded="true" aria-controls="collapse@{@item.FAQId}">
            @item.FAQQuestion
          </button>
        </h5>
      </div>
      <div id="collapse@{@item.FAQId}" class="collapse" aria-labelledby="faq@{@item.FAQId}" data-parent="#faqArea">
        <div class="card-body">
          @item.FAQAnswer
        </div>
      </div>
    </div>
  }
</div>