@model PDSCFramework.Common.ViewModelLayer.IndexViewModel

@{
  ViewBag.Title = Model.AppSettings.ApplicationName;
  ViewBag.MetaDescription = Model.AppSettings.ApplicationName;
  ViewBag.MetaKeywords = Model.AppSettings.ApplicationName;
}

<div class="jumbotron jumbotron-small jumbotron-fluid">
  <div class="row">
    <div class="col-sm-9">
      <h1>@Model.AppSettings.ApplicationName Template Site</h1>
      <p class="lead">
        This example site provides you with a template for all your websites
      </p>
      <p>
        The @Model.AppSettings.ApplicationName is a collection of classes, pages, controllers and everything you need to create an MVC website for your applications.
      </p>
    </div>
    <div class="col-sm-3 d-none d-sm-block">
      <img class="img-fluid rounded float-right" src="~/Images/SiteLogo.png" asp-append-version="true" />
    </div>
  </div>
</div>