@{
  ViewBag.Title = "Unsubscribe Successful";
}

<div class="jumbotron jumbotron-small jumbotron-fluid">
  <div class="row">
    <div class="col-sm-9">
      <h1>You Have Been Unsubscribed</h1>
      <p class="lead">You will no longer receive emails from @Model.AppSettings.ApplicationName.</p>
    </div>
    <div class="col-sm-3 d-none d-sm-block">
      <img class="img-fluid rounded float-right" src="~/Images/SiteLogo.png" asp-append-version="true" />
    </div>
  </div>
</div>

<div class="row">
  <div class="col">
    <a class="btn btn-primary" asp-area="" asp-controller="Home" asp-action="Index">Return to the Home Page</a>
  </div>
</div>