<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
		<add key="LogFile" value="[MyDocuments]\PDSCDeveloperUtilities8-[LoginId]\Log\ComputerCleanerLog.txt" />
		
    <add key="AdditionalFoldersToRecycle" value="[MyDocuments]\PDSCDeveloperUtilities8\Xml\ComputerCleaner-FoldersToRecycle.xml" />
		<add key="AdditionalFilesToRecycle" value="[MyDocuments]\PDSCDeveloperUtilities8\Xml\ComputerCleaner-FilesToRecycle.xml" />
  </appSettings>
</configuration>