<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="LogFile" value="[MyDocuments]\PDSCDeveloperUtilities8-[LoginId]\Log\XmlFileListLog.txt" />

    <add key="XmlFileListName" value="[MyDocuments]\PDSCDeveloperUtilities8\XML\XmlFileList.xml" />
  </appSettings>
</configuration>