<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<add key="LogFile" value="[MyDocuments]\PDSCDeveloperUtilities8-[LoginId]\Log\PropertyGeneratorLog.txt" />

		<add key="DataTypesFileName" value="[MyDocuments]\PDSCDeveloperUtilities8\Xml\LanguageDataTypes.xml" />
		<add key="LanguagesFileName" value="[MyDocuments]\PDSCDeveloperUtilities8\Xml\Languages.xml" />
		<add key="ScopeFileName" value="[MyDocuments]\PDSCDeveloperUtilities8\Xml\LanguageScopes.xml" />
		<add key="TemplatesFileName" value="[MyDocuments]\PDSCDeveloperUtilities8\Xml\PropertyGen-Templates.xml" />
		<add key="PropertyTemplatesFolder" value="[MyDocuments]\PDSCDeveloperUtilities8\Templates\PropertyGenerator" />

		<add key="DefaultLanguage" value="C#" />
		<add key="DefaultTemplate" value="C# Auto Properties" />
		<add key="DefaultPrefix" value="_" />
		<add key="DefaultDataType" value="string" />
		<add key="DefaultScope" value="public" />
		<add key="IsNullable" value="False" />
		<add key="IncludeInitializer" value="False" />
	</appSettings>
</configuration>