<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
		<add key="LogFile" value="[MyDocuments]\PDSCDeveloperUtilities8-[LoginId]\Log\CodeGeneratorLog.txt" />

		<add key="TemplateGroupsFileName" value="[MyDocuments]\PDSCDeveloperUtilities8\Xml\CodeGen-TemplateGroups.xml" />
		<add key="FoldersToDeleteFileName" value="[MyDocuments]\PDSCDeveloperUtilities8\Xml\CodeGen-FoldersToDelete.xml" />
		<add key="FoldersToCopyFileName" value="[MyDocuments]\PDSCDeveloperUtilities8\Xml\CodeGen-FoldersToCopy.xml" />
		<add key="AnnotationsFileName" value="[MyDocuments]\PDSCDeveloperUtilities8\Xml\CodeGen-DataAnnotations.xml" />
		<add key="LanguageFileName" value="[MyDocuments]\PDSCDeveloperUtilities8\Xml\Languages.xml" />
		<add key="LanguageDataTypesFileName" value="[MyDocuments]\PDSCDeveloperUtilities8\Xml\LanguageDataTypes.xml" />
		<add key="ReservedWordsFileName" value="[MyDocuments]\PDSCDeveloperUtilities8\Xml\CodeGen-ReservedWords.xml" />
		<add key="ControlsFileName" value="[MyDocuments]\PDSCDeveloperUtilities8\Xml\CodeGen-Controls.xml" />
		<add key="TemplatesFolder" value="[MyDocuments]\PDSCDeveloperUtilities8\Templates\" />
		<add key="TemplateGroup" value=".NET 6" />
		<add key="OutputFolder" value="[MyDocuments]\PDSCDeveloperUtilities8-[LoginId]\GeneratedCode\" />

		<add key="DeleteCodeGenFolderBeforeGenerating" value="True" />
    <add key="StandardFieldsInAllTables" value="True" />
    <add key="OpenWindowAfterGenerating" value="True" />
		<add key="IncludeDataAnnotations" value="True" />
		<add key="IncludePropertyComments" value="True" />
		<add key="UseFullProperties" value="False" />
		<add key="UsePropertyChanged" value="False" />
		<add key="PrivateFieldPrefix" value="_" />
	</appSettings>
</configuration>