<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>		
		<add key="PromptOverwrite" value="False" />
		<add key="WriteToFile" value="False" />
		<add key="ConnectString" value="Data Source=Localhost;Initial Catalog=AdventureWorksLT2019;Integrated Security=Yes" />
		<add key="Namespace" value="DefaultNamespace" />
		<add key="SchemaFilter" value="" />
		<add key="NameFilter" value="" />
	</appSettings>
</configuration>