<?xml version="1.0" encoding="utf-8" ?>
<CodeGenTemplates>
  <Template>
		<Name>AutoMapper Classes</Name>
    <TemplateFileName>AutoMapper\Entity.txt</TemplateFileName>
		<BaseClassName></BaseClassName>
		<OutputSubFolder>AutoMapper</OutputSubFolder>
		<OutputFileExtension>.cs</OutputFileExtension>
		<OutputFilePrefix></OutputFilePrefix>
		<OutputFileSuffix></OutputFileSuffix>
		<UseClassNameAsFileName>true</UseClassNameAsFileName>
		<AppendToFile>false</AppendToFile>
	</Template>
</CodeGenTemplates>