@{
  ViewData["Title"] = "US State Code Maintenance";
}

<h2>US State Code Maintenance</h2>

@if (Model.IsDetailVisible) {
  <partial name="_USStateCodeDetail" />
}
else {
  <partial name="_USStateCodeSearch" />
  <partial name="_USStateCodeList" />
}

@section Scripts
{
  <script>
    $(document).ready(function () {
      // Setup the form submit
      pdscController.formSubmit();
    });
  </script>
  <partial name="_ValidationScriptsPartial" />
}
