@model PDSC.Common.ViewModelLayer.SiteTermsViewModel

<form method="post" asp-action="SiteTermsIndex">  
  <input type="hidden" asp-for="SelectedEntity.SiteTermsId" />

  <partial name="_ValidationPartial" />

  <div class="form-group">
    <label asp-for="SelectedEntity.TermsText" class="control-label"></label>
    <input asp-for="SelectedEntity.TermsText" class="form-control" />
    <span asp-validation-for="SelectedEntity.TermsText" class="text-danger" />
  </div>
  <div class="form-group">
    <label asp-for="SelectedEntity.IsActive" class="control-label"></label>
    <input asp-for="SelectedEntity.IsActive" class="form-control" />
    <span asp-validation-for="SelectedEntity.IsActive" class="text-danger" />
  </div>

  <div class="form-group">
    <button class="btn btn-primary">Save</button>
    <a class="btn btn-secondary" formnovalidate="formnovalidate" asp-action="SiteTermsIndex">
      Cancel
    </a>
  </div>
</form>
