@{
  ViewData["Title"] = "Site Terms Maintenance";
}

<h2>Site Terms Maintenance</h2>

@if (Model.IsDetailVisible) {
  <partial name="_SiteTermsDetail" />
}
else {
  <partial name="_SiteTermsSearch" />
  <partial name="_SiteTermsList" />
}

@section Scripts
{
  <script>
    $(document).ready(function () {
      // Setup the form submit
      pdscController.formSubmit();
    });
  </script>
  <partial name="_ValidationScriptsPartial" />
}
