@using Microsoft.AspNetCore.Http.Features

@{
  var consentFeature = Context.Features.Get<ITrackingConsentFeature>();
  var showBanner = !consentFeature?.CanTrack ?? false;
  var cookieString = consentFeature?.CreateConsentCookie();
}

@if (showBanner) {
  <div id="cookieConsent" class="alert alert-info alert-dismissible fade show" role="alert">
    <div class="row">
      <div class="col-9">
        This site uses cookies, but does not use them to track any of your personal data. <a asp-action="Privacy" asp-controller="Home">Learn More</a>.
      </div>
      <div class="col-3">
        <button type="button" class="accept-policy close" data-dismiss="alert" aria-label="Close" data-cookie-string="@cookieString">
          <span aria-hidden="true">Accept</span>
        </button>
      </div>
    </div>
  </div>
  <script>
    (function () {
      var button = document.querySelector("#cookieConsent button[data-cookie-string]");
      button.addEventListener("click", function (event) {
        document.cookie = button.dataset.cookieString;
      }, false);
    })();
  </script>
}