@{
  ViewData["Title"] = "Email Template Maintenance";
}

<h2>Email Template Maintenance</h2>

@if (Model.IsDetailVisible) {
  <partial name="_EmailTemplateDetail" />
}
else {
  <partial name="_EmailTemplateSearch" />
  <partial name="_EmailTemplateList" />
}

@section Scripts
{
  <script>
    $(document).ready(function () {
      // Setup the form submit
      pdscController.formSubmit();
    });
  </script>
  <partial name="_ValidationScriptsPartial" />
}
