@model PDSC.Common.ViewModelLayer.ErrorViewModel
@{
  ViewData["Title"] = "Page Not Found";
}

<h1>Page Not Found</h1>

<br />

<h2>You have reached the end of the internet!</h2>

<br />

<p>Status Code: @Model.StatusCode</p>
<p>Path: @Model.StatusPath</p>