<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="HelpFile" value="[AppPath]\Documentation\PDSC-DeveloperUtilities8.pdf"/>
    <add key="LicenseFile" value="[AppPath]\Documentation\License.txt"/>
    <add key="ReleaseNotesFile" value="[AppPath]\ReleaseNotes.txt"/>
    <add key="ConnectionStringsFileName" value="[MyDocuments]\PDSCDeveloperUtilities8-{LoginId}\ConnectionStrings.txt"/>
    <add key="DeleteTemplatesXml" value="false"/>
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <probing privatePath="Assemblies"/>
    </assemblyBinding>
  </runtime>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
  </startup>
</configuration>
