@model PDSC.Common.ViewModelLayer.LogInfoViewModel

<form method="post" asp-action="LogInfoIndex">  
  <input type="hidden" asp-for="SelectedEntity.Id" />

  <partial name="_ValidationPartial" />

  <div class="form-group">
    <label asp-for="SelectedEntity.Message" class="control-label"></label>
    <input asp-for="SelectedEntity.Message" class="form-control" />
    <span asp-validation-for="SelectedEntity.Message" class="text-danger" />
  </div>
  <div class="form-group">
    <label asp-for="SelectedEntity.MessageTemplate" class="control-label"></label>
    <input asp-for="SelectedEntity.MessageTemplate" class="form-control" />
    <span asp-validation-for="SelectedEntity.MessageTemplate" class="text-danger" />
  </div>
  <div class="form-group">
    <label asp-for="SelectedEntity.Level" class="control-label"></label>
    <input asp-for="SelectedEntity.Level" class="form-control" />
    <span asp-validation-for="SelectedEntity.Level" class="text-danger" />
  </div>
  <div class="form-group">
    <label asp-for="SelectedEntity.TimeStamp" class="control-label"></label>
    <input asp-for="SelectedEntity.TimeStamp" class="form-control" />
    <span asp-validation-for="SelectedEntity.TimeStamp" class="text-danger" />
  </div>
  <div class="form-group">
    <label asp-for="SelectedEntity.Exception" class="control-label"></label>
    <input asp-for="SelectedEntity.Exception" class="form-control" />
    <span asp-validation-for="SelectedEntity.Exception" class="text-danger" />
  </div>
  <div class="form-group">
    <label asp-for="SelectedEntity.Properties" class="control-label"></label>
    <input asp-for="SelectedEntity.Properties" class="form-control" />
    <span asp-validation-for="SelectedEntity.Properties" class="text-danger" />
  </div>

  <div class="form-group">
    <a class="btn btn-secondary" formnovalidate="formnovalidate" asp-action="LogInfoIndex">
      Cancel
    </a>
  </div>
</form>
