@{
  ViewData["Title"] = "Log Info Maintenance";
}

<h2>Log Info Maintenance</h2>

@if (Model.IsDetailVisible) {
  <partial name="_LogInfoDetail" />
}
else {
  <partial name="_LogInfoSearch" />
  <partial name="_LogInfoList" />
}

@section Scripts
{
  <script>
    $(document).ready(function () {
      // Setup the form submit
      pdscController.formSubmit();
    });
  </script>
  <partial name="_ValidationScriptsPartial" />
}
