<?xml version="1.0"?>
<configuration>
	<appSettings>
		<add key="HelpFile" value="[AppPath]\Documentation\Ch02-PDSC-DeveloperUtilities.pdf"/>
	</appSettings>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<probing privatePath="Assemblies"/>
		</assemblyBinding>
	</runtime>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
	</startup>
</configuration>
