<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="PDSAConfigurationProviders" type="PDSA.Configuration.Configuration.PDSAConfigSectionHandler, PDSC.Common"/>
    <section name="PDSADataProviders" type="PDSA.DataLayer.Configuration.PDSADataSectionHandler, PDSC.DataLayer"/>
    <section name="PDSADBSchemaProviders" type="PDSA.DataLayer.Schema.Configuration.PDSADBSchemaSectionHandler, PDSC.DataLayer"/>
  </configSections>

  <connectionStrings>
    <add name="SqlClient" connectionString="Server=Localhost;Database=Sandbox;Integrated Security=Yes"/>
  </connectionStrings>

  <appSettings>
    <!-- Log File -->
    <add key="LogFile" value="[MyDocuments]\PDSCDeveloperUtilities\Log\DeveloperUtilitiesLog.txt"/>

    <add key="HelpFileName" value="[AppPath]\Help\PDSCDeveloperUtilities.pdf"/>

    <add key="PurchaseLink" value="https://www.pdsa.com/DevUtils"/>

    <add key="CurrentAnimationTime" value="200"/>
    <add key="NewAnimationTime" value="500"/>

    <add key="ComputerCleanerConfig" value="[MyDocuments]\PDSCDeveloperUtilities\Configuration\PDSCComputerCleaner.Config"/>
    <add key="ProjectCleanerConfig" value="[MyDocuments]\PDSCDeveloperUtilities\Configuration\PDSCProjectCleaner.Config"/>
    <add key="PropertyBuilderConfig" value="[MyDocuments]\PDSCDeveloperUtilities\Configuration\PDSCPropertyBuilder.Config"/>
    <add key="XmlBuilderConfig" value="[MyDocuments]\PDSCDeveloperUtilities\Configuration\PDSCXmlBuilder.Config"/>
    <add key="JsonBuilderConfig" value="[MyDocuments]\PDSCDeveloperUtilities\Configuration\PDSCJsonBuilder.Config"/>
  </appSettings>

  <!-- This section controls where configuration settings are stored for your application -->
  <!-- You may remove any providers that you are NOT using in your application            -->
  <PDSAConfigurationProviders>
    <providers defaultProvider="AppSettings">
      <add providerName="AppSettings" location="[MyDocuments]\PDSCDeveloperUtilities\Configuration\PDSCDeveloperUtilities.exe.config" xpath="/configuration/appSettings" type="PDSA.Configuration.Providers.PDSAConfigProviderAppSettings" assembly="PDSC.Common"/>
      <add providerName="Xml" location="[AppPath]\Settings.xml" xpath="/appSettings" type="PDSA.Configuration.Providers.PDSAConfigProviderXml" assembly="PDSC.Common"/>
    </providers>
  </PDSAConfigurationProviders>

  <PDSADBSchemaProviders>
    <providers defaultProvider="SqlClient">
      <add providerName="SqlClient" filterOutSchemas="INFORMATION_SCHEMA,sys," userNameIsSchemaName="False" upperCaseSchemaNames="False" dataProviderName="SqlClient" type="PDSA.DataLayer.Schema.Providers.PDSADBSchemaSqlClient" assembly="PDSC.DataLayer"/>
    </providers>
  </PDSADBSchemaProviders>

  <PDSADataProviders>
    <providers defaultProvider="SqlClient">
      <add providerName="SqlClient" useStoredProcedures="False" useDBAuditTracking="False" MinDate="1753-1-1" MaxDate="2030-12-31" DBLanguage="en-US" DBDateFormat="yyyy-MM-dd HH:mm:ss" connectStringName="SqlClient" type="PDSA.DataLayer.Providers.PDSADataSqlClient" assembly="PDSC.DataLayer"/>
    </providers>
  </PDSADataProviders>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <probing privatePath="Assemblies"/>
    </assemblyBinding>
  </runtime>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
  </startup>
</configuration>
