<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <title>@ViewData["Title"]</title>
  <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
  <link rel="stylesheet" href="~/css/all.css" />
  <link rel="stylesheet" href="~/css/site.css" />
  <link rel="icon" type="image/ico" href="~/images/favicon.ico">
  @RenderSection("Styles", required: false)
</head>
<body>
  <header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
      <div class="container-fluid">
        <a class="navbar-brand" title="Site Home" asp-controller="Home" asp-area="" asp-action="Index">PDSC Framework</a>
        <button class="navbar-toggler" title="Toggle Navigation" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle Navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
          <partial name="_LoginPartial" />
          <ul class="navbar-nav flex-grow-1">
            <li class="nav-item">
              <a class="nav-link text-dark" title="Site Home" asp-controller="Home" asp-area="" asp-action="Index">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-dark" title="Frequently Asked Questions" asp-controller="Home" asp-area="" asp-action="FAQ">FAQ</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-dark"
                 title="Manage People"
                 data-waitmsg="Please wait while loading People..."
                 onclick="pdscController.pleaseWait(this);"
                 asp-controller="Person" asp-area="" asp-action="PersonIndex">People</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-dark" title="Contact Us" asp-controller="Home" asp-area="" asp-action="ContactUs">Contact Us</a>
            </li>
            @if (User.IsInRole("Administrator")) {
              <li class="nav-item">
                <a class="nav-link text-dark" title="Lookup Tables" asp-area="PDSCLookups" asp-controller="Home" asp-action="Index">Lookup Tables</a>
              </li>
            }
          </ul>
        </div>
      </div>
    </nav>
  </header>
  <div class="container-fluid">
    <partial name="_CookieConsentPartial" />

    <div id="pleaseWait"
         class="pleaseWaitMessage d-none">
      <h4>
        <span id="theWaitMessage">
          Please wait while loading...
        </span>
        &nbsp;
        <i class="fas fa-cog fa-spin"
           style="z-index: 99">
        </i>
      </h4>
    </div>

    <main role="main" class="pl-3 pr-3 pb-1">
      @RenderBody()
    </main>
  </div>

  <footer class="border-top footer text-muted">
    <div class="container-fluid">
      <div class="row">
        <div class="col">
          Copyright &copy; @DateTime.Now.Year by PDSC
        </div>
        <div class="col">
          <div class="float-right">
            <a asp-controller="Home" asp-action="Privacy">Privacy</a> |
            <a asp-controller="Home" asp-action="TermsOfService">Terms of Service</a> |
            <a asp-controller="Home" asp-action="Unsubscribe">Unsubscribe</a>
          </div>
        </div>
      </div>
    </div>
  </footer>
  <script src="~/lib/jquery/dist/jquery.min.js"></script>

  @* // Uncomment out the following to bring in jQuery UI *@
  @*<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js" integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU=" crossorigin="anonymous"></script>*@

  <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
  <script src="~/js/pdscFramework.js" asp-append-version="true"></script>
  <script src="~/js/site.js" asp-append-version="true"></script>
  @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
