@{
  ViewData["Title"] = "Faq Maintenance";
}

<h2>Faq Maintenance</h2>

@if (Model.IsDetailVisible) {
  <partial name="_FAQDetail" />
}
else {
  <partial name="_FAQSearch" />
  <partial name="_FAQList" />
}

@section Scripts
{
  <script>
    $(document).ready(function () {
      // Setup the form submit
      pdscController.formSubmit();
    });
  </script>
  <partial name="_ValidationScriptsPartial" />
}
